body {
    background-color: #F3FAFA;
}
.user-management,
.user-logs {
    height: 50vh;
}
.add-btn {
    background-color: #2A9D8F;  
    color: #fff;
    border: none;
    transition: background-color 0.3s ease;
}
.add-btn:hover {
    background-color: #21867A;
    color: #fff;
}
.search:focus {
    border-color: #008C8C;
    box-shadow: 0 0 5px rgba(0, 140, 140, 0.5);
    outline: none;
}
.search-btn {
    background-color: #00A6A6;
    color: #fff;
    border: none;
    transition: background-color 0.3s ease-in-out;
}
.search-btn:hover {
    background-color: #008C8C;
    color: #fff;
}
.table-wrapper {
    max-height: 250px;
    overflow-y: auto;
}
.table-head {
    position: sticky;
    top: 0;
    z-index: 10;
}
.table-head th {
    background-color: #DCEFF1 !important;
}
.edit-btn {
    background-color: #4DB6AC;
    color: #fff;
    border: none;
    transition: background-color 0.3s ease-in-out;
}
.edit-btn:hover {
    background-color: #3FA69B;
    color: #fff;
}
.delete-btn {
    background-color: #E63946;
    color: #fff;
    border: none;
    transition: background-color 0.3s ease-in-out;
}
.delete-btn:hover {
    background-color: #C62828;
    color: #fff;
}