.item-big-card{
    padding-top:40px !important;
}
.item-big-card .card{
    border-radius:20px;
    box-shadow: 
        0 2px 4px rgba(0,0,0,0.1),
        0 8px 16px rgba(0,0,0,0.2);
}
.item-big-card .card .row{
    padding:25px 0;
}
.item-big-card .card .card-title{
    font-size:35px;
    padding-bottom:35px;
}
.item-big-card .card .card-text{
    line-height:30px;
    font-size:17px;
}
.item-big-card .card .price{
    padding-top:10px;
    border-top:1px solid black;
    font-size:20px !important;
}
@media (max-width: 992px){
    .item-big-card .card .card-title{
        font-size:30px !important;
        padding-bottom:13px !important;
    }
    .item-big-card .card .card-text{
        line-height:20px !important;
        font-size:15px !important;
    }
    .item-big-card .card .price{
        font-size:20px !important;
    }
}