#main-header{
    background-color:white !important;
    box-sizing:border-box;
    z-index:1030;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:90px;
}
body {
    padding-top: 90px;
}
.nav-icon-word img{
    display:flex;
    margin:20px;
    width:280px;
}
#nav-links{
    justify-content:center;
    margin-right:100px !important;
}
#nav-links ul li{
    margin:0 10px;
}
#nav-links ul li a{
    font-size:18px !important;
    font-weight:400;
    position:relative;
    color:black;
} 
@media (min-width: 992px){
    .active{
        color:var(--dark-blue) !important;
    }
    #nav-links ul li a:not(.active):not(.leave li a):hover{
        color:var(--dark-blue) !important;
        transition:color 0.3s ease;
    }
    .leave{
        position: relative;
        overflow: hidden;
        background-color:var(--blue-text) !important;
        width:150px;
        height:40px;
        border-radius:50px;
        display:flex;
        justify-content:center;
        align-items:center;
        transition: color 0.9s ease;
        left:80px;
    }
    .leave li a{
        color:white !important;
    }
    .leave::before{
        content:"";
        position:absolute;
        top:0;
        left:0;
        width:0;
        background-color:var(--dark-blue) !important;
        border-radius:50px;
        height: 100%;
        z-index: 0;
        transition:width 0.5s ease;
    }
    .leave:hover::before{
        width:100%;
    }
    .leave li a:hover{
        color:white !important;
    }
    .leave.active-leave::before{
    width:100%;
    }
}
@media (max-width: 992px){
    #nav-links ul li a{
        padding-bottom:5px !important;
        font-size:16px !important;
        font-weight:400;
    }
    #nav-links {
        position: absolute;
        top: 90px;
        right: -100px;
        width: 250px;
        background: white;
        padding:10px!important;
        line-height:30px !important;
        box-shadow: 0px 3px 15px rgba(0,0,0,0.15);
    }
    .leave{
        background-color:var(--blue-text) !important;
        border-radius:10px;
        margin-top:10px;
    }
    .leave li a{
        color:white !important;
    }
}
