body{
    background-color:var(--bg-color) !important;
}
.items-btn-input{
    background-color:rgb(255, 255, 255);
    margin-top:20px;
    width:480px;
    display:flex;
    justify-content:center;
    border:1px solid rgb(155, 153, 153);
    border-radius:40px;
    height:30px;
    overflow: hidden;
}
.search:focus {
    border-color: #008C8C;
    box-shadow: 0 0 5px rgba(0, 140, 140, 0.5);
    outline: none;
}
.search-btn {
    background-color: #00A6A6;
    color: #fff;
    border: none;
    transition: background-color 0.3s ease-in-out;
}
.search-btn:hover {
    background-color: #008C8C;
    color: #fff;
}
.invoices-table{
    padding-top:35px;
}
.invoices-table .table thead th{
    background-color:var(--table-head) !important;
    color:black;
}
.invoices-btn a{
    border:none !important;
    width:75%;
    background-color:var(--add-btn) !important;
}
.invoices-btn a:hover{
    background-color:var(--add-btn-hover) !important;
}
.invc-card{
    margin:70px 5px;
    width:490px;
}
.invc-icon{
    width:18rem;
    padding-top:15px;
}
.invc-header-words{
    padding:25px 0 5px;
    line-height:35px;
}
.invc-header-words span{
    font-size:17px;
    font-weight:500;
}
.table td, 
.table th {
    white-space: normal;
    word-wrap: break-word;
    max-width: 150px;
}
.total-box{
    gap:10px;
}
.total-box span:first-child{
    font-weight:500;
    font-size:17px;
}
.invc-total{
    width: 18%;      
    border: 1px solid #dee2e6;  
    border-radius: 4px;
    text-align:center;
}
.print-btn {
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 9999;
    border:none !important;
    outline:none !important;
}
